@font-face {
  font-family: 'Graphik';
  src: url('../../fonts/Graphik Web-Black.eot');
  src: url('../../fonts/Graphik Web-Black.woff') format('woff'),
        url('../../fonts/Graphik Web-Black.ttf') format('truetype'),
        url('../../fonts/Graphik Web-Black/.svg#webfontg8dbVmxj') format('svg');
}

@font-face {
  font-family: 'Graphik';
  src: url('../../fonts/Graphik Web-Medium.eot');
  src: url('../../fonts/Graphik Web-Medium.woff') format('woff'),
        url('../../fonts/Graphik Web-Medium.ttf') format('truetype'),
        url('/../fonts/Graphik Web-Medium.svg#webfontg8dbVmxj') format('svg');
}

@font-face {
  font-family: 'Graphik';
  src: url('../../fonts/Graphik Web-Semibold.eot');
  src: url('../../fonts/Graphik Web-Semibold.woff') format('woff'),
        url('../../fonts/Graphik Web-Semibold.ttf') format('truetype'),
        url('../../fonts/Graphik Web-Semiboldvg#webfontg8dbVmxj') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../fonts/Graphik-Super-Web.eot');
  src: url('../../fonts/Graphik-Super-Web.woff') format('woff'),
        url('../../fonts/Graphik-Super-Web.ttf') format('truetype'),
        url('../../fonts/Graphik-Super-Web/.svg#webfontg8dbVmxj') format('svg');
}
