:root {
  --base-spacing-unit:    30px;
  --big-spacing-unit:     60px;
  --header-size:          60px;
  --vertical-header-size: 60px;
  --padding-card:         100px;
  --scroll-tollerance:    100px;
}


/*
Example for mediaqueries:
:root {
  --gutter: 4px;
}

@media (min-width: 600px) {
  :root {
    --gutter: 16px;
  }
}*/
