@mixin retina($file, $type) {
  background-image: url('../img/' + $file + '.' + $type);

  @media only screen and (-moz-min-device-pixel-ratio: 5/4),
         only screen and (-webkit-min-device-pixel-ratio: 1.25),
         only screen and (min-device-pixel-ratio: 1.25),
         only screen and (min-resolution: 1.25dppx) {
    & {
      background-image: url('../img/' + $file + '@2x.' + $type);
    }
  }

  @media only screen and (-moz-min-device-pixel-ratio: 9/4),
         only screen and (-webkit-min-device-pixel-ratio: 2.25),
         only screen and (min-device-pixel-ratio: 2.25),
         only screen and (min-resolution: 2.25dppx) {
    & {
      background-image: url('../img/' + $file + '@3x.' + $type);
    }
  }
}
