.c-banner {
  animation-name: fadeOpacity;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  opacity: 0;
  animation-fill-mode: forwards;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include retina('banner', 'jpg');

  // .c-banner__title {
  &__title {
    animation-name: fadeOpacity;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  // .c-banner__container {
  &__container {
    width: 70%;
    max-width: 780px;
  }

  @media only screen and (max-width: 768px) {
    @include retina('banner-mobile', 'jpg');
    &__container {
      width: 100%;
    }
  }

  @media only screen and (max-width: 1024px) {
    &__container {
      width: 80%;
    }
  }
}

@keyframes fadeOpacity {
  from {opacity: 0}
  to {opacity: 1}
}
