.c-button {
  display: inline-flex;
  height: 12px;
  padding: 19px 15px;
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: default;
  border-width: 1px;
  border-color: transparent;
  border-style: dashed;

  &:last-child {
    margin-right: 0;
  }

  // .c-button--cta {
  &--cta {
    border-style: solid;
    cursor: pointer;
    &::after {
      mask: url('../img/btn-arrow-white.svg') no-repeat 100% 100%;
      -webkit-mask: url('../img/btn-arrow-white.svg') no-repeat 100% 100%;
      margin-left: 10px;
      width: 36px;
      height: 13px;
      content: ' ';
      display: inline-flex;
      background-color: inherit;
    }
  }
}
