.c-card {
  min-height: 100vh;
  box-sizing: border-box;
  padding: var(--padding-card) calc(var(--padding-card) + var(--vertical-header-size));
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

  &--work {
    flex-direction: row;
    min-height: 150vh;
    padding-top: calc(50vh + var(--padding-card));
    padding-bottom: calc(50vh + var(--padding-card));
    padding-right: 0;
    justify-content: center;
    align-items: flex-start;

    &:first-of-type {
      padding-top: var(--padding-card);
      align-items: flex-start;
    }

    &:last-of-type {
      padding-bottom: var(--padding-card);
    }

    .c-card__title {
      text-transform: capitalize;
    }
  }
  // .c-card__title {
  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 20px;
    // .c-card__title__link {
    &__link {
      font-size: inherit;

      @media screen and (max-width: 480px) {
        font-size: 22px;
      }
      @media screen and (max-width: 320px) {
        font-size: 18px;
      }
    }
  }

  // .c-card__paragraph {
  &__paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }

  // .c-card__paragraph--small {
  &__paragraph--small {
    max-width: 40%;
  }

  // .c-card__link {
  &__link {
    font-size: 1rem;
    font-weight: 600;
  }

  // .c-card__line-break {
  &__line-break {
    width: 40px;
    height: 1px;
    display: block;
    margin: 20px 0;
    border: 0;
  }

  // .c-card__label {
  &__label {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
  }

  // .c-card__container {
  &__container {
    width: 40%;
    padding-right: 30px;
    box-sizing: border-box;
  }

  // .c-card-image {
  &-image {
    width: 60%;
    display: block;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    height: 70vh;

    &--oincs {
      @include retina('img-oincs', 'png');
    }

    &--cab2ride {
      @include retina('img-cab-2-ride', 'png');
    }

    &--pagoo {
      @include retina('img-pagoo', 'png');
    }

    &--itau {
      @include retina('img-itau', 'png');
      background-position: center;
    }
  }

  @media screen and (max-width: 1280px) {
    &__title {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__title {
      font-size: 36px;
    }
    &--work {
      padding-right: 0;
    }
    &__paragraph--small {
      max-width: 80%;
    }
  }

  @media screen and (max-width: 768px) {
    padding: var(--big-spacing-unit) var(--base-spacing-unit);
    &--work {
      padding-right: 0;
      flex-direction: column;
      min-height: 100vh;
    }
    &-image {
      height: 350px;
      width: 100%;
      margin-top: 30px;
    }
    &-image--itau {
      background-position: center;
    }
    &__container {
      width: 100%;
    }
  }
}
