.c-hamburger {
  width: var(--big-spacing-unit);
  height: var(--big-spacing-unit);
  justify-content: center;
  display: inline-flex;
  align-items: center;
  padding: var(--base-spacing-unit) 0;
  box-sizing: border-box;

  // .c-hamburger__container {
  &__container {
    width: 20px;
    height: 14px;
    display: block;
    position: relative;
    cursor: pointer;
    margin-left: -1px;
  }

  // .c-hamburger__item {
  &__item {
    height: 2px;
    position: absolute;
    background: var(--color-white);
    width: 100%;
    top: 6px;
    transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);

    &::after {
      top: 6px;
    }

    &::before {
      top: -6px;
    }

    &::after, &::before {
      content: '';
      height: 2px;
      background: var(--color-white);
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
    }
  }

  // .c-hamburger.active {
  &.active {
    .c-hamburger__item {
      background: transparent;

      &::before {
        transform: translateY(6px) translateX(1px) rotate(45deg);
      }

      &::after {
        transform: translateY(-6px) translateX(1px) rotate(-45deg);
      }
    }
  }
}
