.c-menu {
  width: 100%;
  height: 100%;
  padding: var(--base-spacing-unit);
  padding-right: calc(var(--vertical-header-size) + var(--base-spacing-unit));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  color: var(--color-white);
  background-color: var(--color-black-pure);
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
  font-family: 'Roboto Mono', monospace;

  // .c-menu.active {
  &.active {
    opacity: 0.9;
    visibility: visible;
  }

  // .c-menu__list {
  &__list {
    display: flex;
    flex-direction: column;
  }

  // .c-menu__item {
  &__item {
    padding-bottom: var(--base-spacing-unit);
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    padding: var(--big-spacing-unit);
  }
}
