.c-scrollable-section {
  position: absolute;
  width: 100%;
  background-color: var(--color-white);
  top: inherit;

  .c-header--desktop {
    position: absolute;
  }

  .c-header--mobile {
    position: absolute;
  }

  .c-vertical-header {
    position: absolute;
  }
}

.c-scrollable-content {
  position: fixed;
  width: 100%;
  transition: background-color 1s ease, color 1s ease, opacity 1s ease;
  opacity: 1;
  top: 0;
  height: 100%;

  &.active {
    position: relative;
    height: calc(100% - 200vh - 200px);
  }

  &.bottom {
    .c-vertical-header {
      position: absolute;
      bottom: 0;
    }

    .c-header {
      position: absolute;
      top: calc(100% - 100vh);
      animation-fill-mode: none;
    }
  }
}

.scrollable-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
}
