.banner {
  background-size: cover;
  background-image: url('../../img/banner@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .banner {
      background-image: url('../../img/banner@2x.jpg');
    }
}

.banner__title {
  max-width: 60%;
}
