.button {
  display: inline-flex;
  height: 12px;
  padding: 19px 15px;
  font-size: 12px;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  border: 1px solid transparent;
  margin-right: 15px;
  margin-bottom: 15px;
}

.button::after {
  mask: url(../../img/btn-arrow-white.svg) no-repeat 100% 100%;
  -webkit-mask: url(../../img/btn-arrow-white.svg) no-repeat 100% 100%;
  margin-left: 10px;
  width: 36px;
  height: 13px;
  content: ' ';
  display: inline-flex;
  background-color: inherit;
}

.button:last-child {
  margin-right: 0;
}
