.card {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 100px;
  /* flex styles: */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card__title {
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

.card__paragraph {
  max-width: 50%;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  font-size: 1rem;
}

.card__link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
}
