.card {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 100px;
  /* flex styles: */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 2.5rem;
}

.card__paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  max-width: 50%;
}

.card__link {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-black);
}
