.hamburger {
  width: 100%;
  height: var(--big-spacing-unit);
  justify-content: center;
  display: flex;
  align-items: center;
  padding: var(--base-spacing-unit) 0;
  box-sizing: border-box;
}

.hamburger__container {
  width: 20px;
  height: 14px;
  display: block;
  position: relative;
  cursor: pointer;
  margin-left: -1px;
}

.hamburger.active .hamburger__item {
    background: transparent;
}

.hamburger.active .hamburger__item:before {
  transform: translateY(6px) translateX(1px) rotate(45deg);
}

.hamburger.active .hamburger__item:after {
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
}

.hamburger__item {
  height: 2px;
  position: absolute;
  background: var(--color-white);
  width: 100%;
  top: 6px;
  transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
}

.hamburger__item:before, .hamburger__item:after {
  content: '';
  height: 2px;
  background: var(--color-white);
  width: 100%;
  position: absolute;
  top: -6px;
  left: 0;
  transition: all 0.5s cubic-bezier(0, 0.275, 0.125, 1);
}

.hamburger__item:after {
   top: 6px;
}
