.header {
  width: var(--size-header);
  height: 100vh;
  padding: var(--base-spacing-unit) 0;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  transition: border 1s ease;
  border-right: 1px solid var(--color-white-opaque);
}

.header--right {
  border-left: 1px solid var(--color-white-opaque);
}

/* Alert! Following code works only if there is 2 headers */
.header:first-child {
  left: 0;
}

.header:last-child {
  right: 0;
}

.header__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  align-self: center;
  white-space: nowrap;
}

.header__content--rotated {
  transform: rotate(-90deg);
  margin-top: var(--size-header);
}

.header__content--start {
  align-self: flex-start;
}

.header__content--end {
  align-self: flex-end;
}
