.header {
  width: 100%;
  height: var(--header-size);
  padding: 0 calc(var(--vertical-header-size) + var(--base-spacing-unit));
  box-sizing: border-box;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: flex-end;
  /* TODO: remove next after markup is done */
  transition: border 1s ease;
  border-bottom: 1px solid var(--color-white-opaque);
}

.header__link {
  align-self: center;
}
