.header {
  width: var(--size-header);
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: 1px solid var(--color-white-opaque);
  transition: border 1s ease;
}

.header--right {
  border-left: 1px solid var(--color-white-opaque);
}

/* Alert! Following code works only if there is 2 headers */
.header:first-child {
  left: 0;
}

.header:last-child {
  right: 0;
}
