.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  box-sizing: border-box;
  padding: 100px;
  /* flex styles: */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
