/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.panel__title {
  font-size: 3rem;
}

.panel__paragraph {
  max-width: 50%;
}
