.scrollable-section {
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: inherit;
}

.scrollable-section .header--desktop {
  position: absolute;
}

.scrollable-section .header--mobile {
  position: absolute;
}

.scrollable-section .menu {
  /**/
}

.scrollable-section .vertical-header {
  position: absolute;
}

.scrollable-content {
  position: fixed;
  width: 100%;
  transition: background-color 1s ease, color 1s ease, opacity 1s ease;
  opacity: 1;
  top: 0;
  height: 100%;
}

.scrollable-content.active {
  position: relative;
  height: calc(100% - 200vh - 200px);
}

.scrollable-content.bottom .vertical-header {
  position: absolute;
  bottom: 0;
}

.scrollable-content.bottom .header {
  position: absolute;
  top: calc(100% - 100vh);
  animation-fill-mode: none;
}

.scrollable-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
}
