.scrollable-section {
  position: absolute;
  width: 100%;
  z-index: 300;
}

.scrollable-section .header--desktop {
  position: absolute;
  z-index: 302;
}

.scrollable-section .header--mobile {
  position: absolute;
  z-index: 303;
}

.scrollable-section .menu {
  z-index: 302;
}

.scrollable-section .vertical-header {
  position: absolute;
  z-index: 301;
}

.scrollable-content {
  position: fixed;
  transition: background-color 1s ease, color 1s ease, opacity 1s ease;
  opacity: 1;
}

.scrollable-content.active {
  top: calc(50vh + var(--scroll-tollerance));
  position: relative;
}
