@import 'themes/default.css';
@import 'themes/white.css';

/* Colours */
.color-black {
  background-color: var(--color-black);
}

.color-orange {
  background-color: var(--color-orange);
}

.color-green {
  background-color: var(--color-green);
}
