/* colours */
.color-black {
  background-color: var(--color-black);
}

.color-orange {
  background-color: var(--color-orange);
}

.color-green {
  background-color: var(--color-green);
}

/* Themes with white font */
.color-black, .color-orange, .color-green {
  color: var(--color-white);
}

.color-black .icon,
.color-orange .icon,
.color-green .icon {
  color: var(--color-white);
}

/*  Themes with black font */
.color-white {
  background-color: var(--color-white);
  color: var(--color-black);
}

.color-white .icon {
  color: var(--color-black);
}

.color-white .hamburger__item,
.color-white .hamburger__item:before,
.color-white .hamburger__item:after {
  background-color: var(--color-black);
}

[class^="color-"] .icon, [class*=" color-"] .icon {
  transition: color 1s ease;
}

/* Black theme */
/* TODO: remove .vertical-header styles and keep only .vertical-header--right after markup is done */
.color-white .vertical-header, .color-white .header{
  border-color: var(--color-black-opaque);
}

.color-black .vertical-header, .color-black .header
.color-orange .vertical-header, .color-orange .header
.color-green .vertical-header, .color-green .header{
  border-color: var(--color-white-opaque);
}

.color-white .vertical-header--right {
  border-color: var(--color-black-opaque);
}

.color-black .vertical-header--right,
.color-orange .vertical-header--right,
.color-green .vertical-header--right {
  border-color: var(--color-white-opaque);
}
