@import './themes/default';
@import './themes/white';

/* Colours */
.t-color-black {
  background-color: var(--color-black);
}

.t-color-orange {
  background-color: var(--color-orange);
}

.t-color-green {
  background-color: var(--color-green);
}
