.u-txt-underlined {
  text-decoration: underline;
}

.u-flex-align-start {
  align-self: flex-start;
}

.u-position-relative {
  position: relative;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-txt-capitalize {
  text-transform: capitalize;
}

.u-d-inline {
  display: inline;
}
