/*-------------*/
/* BLACK THEMES */
/*-------------*/

.t-color {
  &-black, &-orange, &-green {
    background-color: inherit;
    color: var(--color-white);

    /* Icons: */
    .icon {
      color: var(--color-white);
    }

    /* Svg icons: */
    .svg-icon {
      background-color: var(--color-white);
    }

    /* Button */
    .c-button {
      color: var(--color-white);
      border-color: var(--color-white);
      &::after {
        background-color: var(--color-white);
      }
    }

    /* c-card line-break */
    .c-card__line-break {
      background-color: var(--color-white);
    }

    /* c-hamburger */
    .c-hamburger:not(.active) {
      .c-hamburger__item {
        &::before, &::after {
          background-color: var(--color-white);
        }
      }
    }

    /* Vertical header right:  */
    .c-vertical-header--right:not(.active) {
      border-color: var(--color-white-opaque);
    }

    .c-vertical-header.active {
      .c-vertical-header__item {
        .icon {
          color: var(--color-white);
        }
      }
    }
  }
}
