/*-------------*/
/* WHITE THEME */
/*-------------*/
.t-color-white {
  background-color: var(--color-white);
  color: var(--color-black);

  /* Icons: */
  .icon {
    color: var(--color-black);
  }

  /* Svg icons: */
  .svg-icon {
    background-color: var(--color-black);
  }

  /* Button */
  .c-button {
    color: var(--color-black);
    border-color: var(--color-black);
  }

  /* Button arrow */
  .c-button::after {
    background-color: var(--color-black);
  }

  /* c-card line-break */
  .c-card__line-break {
    background-color: var(--color-black);
  }

  /* c-hamburger */
  .c-hamburger:not(.active) .c-hamburger__item,
  .c-hamburger:not(.active) .c-hamburger__item:before,
  .c-hamburger:not(.active) .c-hamburger__item:after {
    background-color: var(--color-black);
  }

  /* Vertical header right:  */
  .c-vertical-header--right:not(.active) {
    border-color: var(--color-black-opaque);
  }
}
