/*-------------*/
/* BLACK THEMES */
/*-------------*/
.color-black,
.color-orange,
.color-green {
  background-color: inherit;
  color: var(--color-white);
}

/* Icons: */
.color-black .icon,
.color-orange .icon,
.color-green .icon {
  color: var(--color-white);
}

/* Svg icons: */
.color-black .svg-icon,
.color-orange .svg-icon,
.color-green .svg-icon {
  background-color: var(--color-white);
}

/* Button */
.color-black .button,
.color-orange .button,
.color-green .button {
  color: var(--color-white);
  border-color: var(--color-white);
}

/* Button arrow */
.color-black .button::after,
.color-orange .button::after,
.color-green .button::after {
  background-color: var(--color-white);
}

/* Card line-break */
.color-black .card__line-break,
.color-orange .card__line-break,
.color-green .card__line-break {
  background-color: var(--color-white);
}

/*Hamburger*/
.color-black .hamburger:not(.active) .hamburger__item,
.color-black .hamburger:not(.active) .hamburger__item:before,
.color-black .hamburger:not(.active) .hamburger__item:after,
.color-orange .hamburger:not(.active) .hamburger__item,
.color-orange .hamburger:not(.active) .hamburger__item:before,
.color-orange .hamburger:not(.active) .hamburger__item:after,
.color-green .hamburger:not(.active) .hamburger__item,
.color-green .hamburger:not(.active) .hamburger__item:before,
.color-green .hamburger:not(.active) .hamburger__item:after {
  background-color: var(--color-white);
}

/* Vertical header right:  */
.color-black .vertical-header--right:not(.active),
.color-orange .vertical-header--right:not(.active),
.color-green .vertical-header--right:not(.active) {
  border-color: var(--color-white-opaque);
}

/* Vertical header icons (social media icons) */
.color-black .vertical-header.active .vertical-header__item .icon,
.color-orange .vertical-header.active .vertical-header__item .icon,
.color-green .vertical-header.active .vertical-header__item .icon {
  color: var(--color-white);
}
