/*-------------*/
/* WHITE THEME */
/*-------------*/
.color-white {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Icons: */
.color-white .icon {
  color: var(--color-black);
}

/* Svg icons: */
.color-white .svg-icon {
  background-color: var(--color-black);
}

/* Button */
.color-white .button {
  color: var(--color-black);
  border-color: var(--color-black);
}

/* Button arrow */
.color-white .button::after {
  background-color: var(--color-black);
}

/* Card line-break */
.color-white .card__line-break {
  background-color: var(--color-black);
}

/* Hamburger */
.color-white .hamburger:not(.active) .hamburger__item,
.color-white .hamburger:not(.active) .hamburger__item:before,
.color-white .hamburger:not(.active) .hamburger__item:after {
  background-color: var(--color-black);
}

/* Vertical header right:  */
.color-white .vertical-header--right:not(.active) {
  border-color: var(--color-black-opaque);
}

/* Vertical header icons (social media icons) */
.color-black .vertical-header.active .vertical-header__item .icon,
.color-orange .vertical-header.active .vertical-header__item .icon,
.color-green .vertical-header.active .vertical-header__item .icon {
  color: var(--color-black);
}
